body{
    background-color:white;
}

.section2{
    display: flex;
    flex-flow: column nowrap;
    
    padding-top: 2rem;
}

.section3{
    display: flex;
    padding-top: 5rem;
}

.section4{
    padding-top: 13rem;
}

.list{
    padding-top: 1rem;
   
}

.icon-list{
    height: 20px;
    width: 20px;
}


.blog{
   padding-top: 3rem;
  }
    
.img-blog{
    display: flex;
    width: 100%;

}
.card-blog{
    display: flex;
    width: 20%;
}

.footer{
    height: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
	padding: 10px 10px;  
    
}
h1{
    padding-top: 2.5rem;
}


.subscribe{
    padding-top: 5rem;
}